@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"); /* 'Special Elite' */
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap'); /* 'Frijole' */

*,
*::after,
*::before {
  box-sizing: border-box;
  border-collapse: collapse;
}

html {
  font: 16px "Special Elite", cursive;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: darkslategray;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  width: 100%;
}

main {
  display: grid;
  flex-grow: 1;
  place-items: center;
}

div#countdown-timer {
  font-size: 3rem;
  height: max-content;
  width: max-content;
}

div#canceled {
  color: tomato;
  font: 3rem Frijole;
  text-transform: uppercase;
}

footer {
  /* bottom: 0;
  position: fixed; */
  width: 100%;
}

p#copyright {
  margin: auto;
  text-align: center;
}

@media only screen and (min-width: 769px) {
  div#countdown-timer,
  div#canceled {
    font-size: 5rem;
  }
}
