@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  border-collapse: collapse;
}

html {
  font: 16px "Special Elite", cursive;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: darkslategray;
  color: antiquewhite;
  display: grid;
  margin: 0;
  place-items: center;
}

div#countdown-timer {
  font: 3rem;
  height: max-content;
  width: max-content;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

p#copyright {
  margin: auto;
  text-align: center;
}

@media only screen and (min-width: 769px) {
  div#countdown-timer {
    font-size: 5rem;
  }
}
